<form id="login-form" class="row g-3 w-50 mx-auto">
    <div class="col-md-6">
        <label for="username" class="form-label">Usuario</label>
        <input type="text" class="form-control" name="username" id="username" aria-describedby="helpId"
            placeholder="" />
    </div>

    <div class="col-md-6">
        <label for="password" class="form-label">Contraseña</label>
        <input type="password" class="form-control" name="password" id="password" aria-describedby="helpId"
            placeholder="" />
    </div>

    <div class="col-md-6">
        <label for="passwordRepeat" class="form-label">Repetir Contraseña</label>
        <input type="password" class="form-control" name="passwordRepeat" id="passwordRepeat" aria-describedby="helpId"
            placeholder="" />
    </div>

    <button id="btn-login" class="btn btn-primary">Iniciar sesión</button>

</form>
</main>